---
layout: welcome

---

 <div class="text-center">
  <img class="circular" src="https://igcdn-photos-a-a.akamaihd.net/hphotos-ak-xpa1/t51.2885-15/e15/11208586_1596699727213864_1958685864_n.jpg" >
  <p>contact me <a href="mailto:claudio.silva365@gmail.com">claudio (at) gmail.com</a></p>
</div>
