---
title: resume
permalink: "resume/index.html"
layout: default
---

<div class="resume row">
  <div class="col-md-6 post-nav">
    <div id="about_me">
      <h2>About me</h2>
      <p>Something about me here...</p>
    </div>

    <div id="skills">
      <h2>Skills</h2>
      <h4 class="text-muted">What technologies i use:</h4>
        <p> - <span>C</span># .Net <span>V</span>b .Net</p>
        <p> - <span>H</span>TML <span>C</span>SS</p>
        <p> - <span>J</span>avascript</p>
    </div>
  </div>

  <div class="col-md-6 post-nav">
    <div id="experience">
      <h2>Experience</h2>
      <p>Something about your experience...</p>
      <p>links to projects will be added <a href="{{ "/projects" | prepend:site.baseurl }}">here</a>.</p>
    </div>

    <div id="contacts">
      <h2>Contacts</h2>
      <p>twitter...https://twitter.com/n8sc34m </p>
			<p>phone...(+351)934376719</p>
      <p>email...claudio.silva365 (at) gmail.com</p>
    </div>
  </div>
</div>
