<div id="title">
  <h1>
    {% unless site.git == "" %}
		  <a id="git-ic" href="{{site.git}}"><i class="fa fa-github"></i></a>
    {% endunless %}

    {% unless site.stackoverflow == "" %}
      <a id="so-ic" href="{{site.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a>
    {% endunless %}

    <a id="sitename" href="{{site.baseurl}}">n8scr34m.github.io</a>
  </h1>

  <p>Don't mess with someone you don't know.</p>
  <hr/>

  {% include nav-links.html %}

</div>
